@charset "UTF-8";
/* CSS Document */
body {
	background-color: #000000;
	width:100%;
}
h1{
	font-size:22px;
	padding-top:25px;
	padding-left:100px;
}
p {
	padding: 20px 50px 10px 40px;
	color: #5C5C5C;
}
li{
	color: #5C5C5C;
}
.lineup{
	margin-top:-15px;
	margin-bottom:40px;
}
article li{
	display: inline-block;
}
article img {
	width: 55px;
	float:left;
	margin-left:40px;
	margin-top: 30px;
}

article {
	background-color: #FFFFFF;
	border: 2px dotted #000000;
	border-radius: 100px; 
	margin-top:150px;
	margin-left:5%;
	font-family:Georgia, "Times New Roman", Times, serif;
	max-width:18rem;
	position:auto;
}
@media only screen and (min-width: 500px){
article {
	margin-left:10%;
}
}
@media only screen and (min-width: 600px){
article {
	margin-left:20%;
}
}

@media only screen and (min-width: 800px){
article {
	margin-left:38%;
}
}
